<div class="row margin-top-md">
    <h1 class="text-center font-default">Restaurant List</h1>
</div>

<div class="row margin-top-lg">
    <table class="table table-hover table-striped">
        <thead>
            <tr>
                <th class="text-center">
                    <span class="table-header-sorting">Restaurant Name</span>
                    <span class="glyphicon glyphicon-chevron-up color-light-blue"></span>
                </th>
                <th class="text-center">
                    <span class="table-header-sorting">All Votes</span>
                    <span class="glyphicon glyphicon-chevron-down color-light-blue"></span>
                </th>
                <th class="text-center">
                    <span class="table-header-sorting">Avg. Score</span>
                    <span class="glyphicon glyphicon-chevron-down color-light-blue"></span>
                </th>
                <th class="text-center">
                    <span class="table-header-sorting">Actions</span>
                    <span class="glyphicon glyphicon-chevron-down color-light-blue"></span>
                </th>
            </tr>
        </thead>
        <tbody class="text-center">
            <tr>
                <td>
                    <span class="glyphicon glyphicon-question-sign" popover="This restaurant need more votes to be approved" popover-trigger="mouseenter" popover-placement="left"></span>
                    <span class="">Gulasch I</span>
                </td>
                <td>
                    1234
                </td>
                <td>
        <progressbar class="custom-progressbar" value="5" max="5" type="success">
            <span class="">5 / 5</span>
        </progressbar>
        </td>
        <td>
            <button type=button" class="btn btn-restaurant" style="line-height: 15px; padding-left: 8px; padding-right: 8px;" popover="View all comments of this restaurant" popover-trigger="mouseenter" popover-placement="left">
                <span class="glyphicon glyphicon-search"></span>
            </button>
            <button type=button" class="btn btn-restaurant-admin-color-red" style="line-height: 15px; padding-left: 8px; padding-right: 8px;" popover="Hide this restaurant's visibility" popover-trigger="mouseenter" popover-placement="left">
                <span class="glyphicon glyphicon-remove"></span>
            </button>
        </td>
        </tr>

        <tr>
            <td>
                <span class="glyphicon glyphicon-question-sign" popover="This restaurant need more votes to be approved" popover-trigger="mouseenter" popover-placement="left"></span>
                <span class="">Gulasch II</span>
            </td>
            <td>
                9876
            </td>
            <td>
        <progressbar class="custom-progressbar" value="1" max="5" type="danger">
            <span class="">1 / 5</span>
        </progressbar>
        </td>
        <td>
            <button type=button" class="btn btn-restaurant" style="line-height: 15px; padding-left: 8px; padding-right: 8px;" popover="View all comments of this restaurant" popover-trigger="mouseenter" popover-placement="left">
                <span class="glyphicon glyphicon-search"></span>
            </button>
            <button type=button" class="btn btn-restaurant-admin-color-green" style="line-height: 15px; padding-left: 8px; padding-right: 8px;" popover="Make this restaurant visible" popover-trigger="mouseenter" popover-placement="left">
                <span class="glyphicon glyphicon-repeat"></span>
            </button>
        </td>
        </tr>

        </tbody>
    </table>
</div>