<section class="margin-side-md">
    <div class="row margin-top-sm margin-bot-sm margin-more-details">
        <div class="col-md-3">
            <label class="custom-input-field-label">
                Food Name:
            </label>
        </div>
        <div class="col-md-9">
            <input class="form-control custom-input-field" type="text" placeholder="Bajai Halászlé" ng-model="comment.foodName"/>
        </div>
    </div>

    <div class="row margin-top-sm margin-bot-sm">
        <div class="col-md-6">
            <div class="col-md-6">
                <label class=custom-input-field-label>Food Price:</label>
            </div>
            <div class="col-md-6">
                <div class="input-group" style="margin-left: 8px;">
                    <input type="number" class="form-control custom-input-field input-group-btn" placeholder="1500" ng-model="comment.foodPrice"/>
                    <span class="input-group-addon custom-input-field">HUF</span>
                    <!--                    <select class="form-control custom-input-field input-group-addon" style="width: 90px;">
                                            <option selected="selected">HUF</option>
                                            <option>EUR</option>
                                            <option>USD</option>
                                            <option>GBP</option>
                                        </select>-->
                </div>

            </div>
        </div>
        <div class="col-md-2"></div>
        <div class="col-md-4">
            <div class="col-md-6 text-right">
                <label class="custom-input-field-label">
                    Was it worth your money?
                </label>
            </div>
            <div class="col-md-6">
                <div class="btn-group">
                    <button type="button" class="btn btn-restaurant-color-green" ng-model="comment.worthMoney" btn-radio="true">Yes</button>
                    <button type="button" class="btn btn-restaurant-color-red" ng-model="comment.worthMoney" btn-radio="false">No</button>
                </div>
            </div>
        </div>
    </div>

    <div class="row margin-top-sm margin-bot-sm margin-more-details">
        <div class="col-md-3">
            <label class="custom-input-field-label">
                Order Time:
            </label>
        </div>
        <div class ="col-md-9">
            <div class="input-group">
                <span class="input-group-addon" ng-if="order">{{data.order| date:'yyyy.MM.dd. HH:mm'}}</span>
                <span class="input-group-addon" ng-if="!order">Select order time</span>
                    <div class="dropdown">
                        <button class="btn dropdown-toggle" style="background-color: #FFFFFF;" role="button" data-toggle="dropdown" data-target="#">
                            <span class="glyphicon glyphicon-calendar"></span>
                        </button>
                        <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
                            <datetimepicker data-ng-model="data.order" data-on-set-time="onTimeSetOrder" data-datetimepicker-config="{startView: 'day', dropdownSelector: '.dropdown-toggle'}"></datetimepicker>
                        </ul>
                    </div>
                </span>
            </div>
        </div>
    </div>
    <div class="row margin-top-sm margin-bot-sm margin-more-details">
        <div class="col-md-3">
            <label class="custom-input-field-label">
                Arrive Time:
            </label>
        </div>
        <div class ="col-md-9">
            <div class="input-group">
                <span class="input-group-addon" ng-if="arrive">{{data.arrive| date:'yyyy.MM.dd. HH:mm'}}</span>
                <span class="input-group-addon" ng-if="!arrive">Select arrive time</span>
                    <div class="dropdown">
                        <button id="arriveDate" class="btn dropdown-toggle my-toggle-select" style="background-color: #FFFFFF;" role="button" data-toggle="dropdown" data-target="#">
                            <span class="glyphicon glyphicon-calendar"></span>
                        </button>
                        <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
                            <datetimepicker data-ng-model="data.arrive" data-on-set-time="onTimeSetArrive" data-datetimepicker-config="{startView: 'day', dropdownSelector: '#arriveDate'}"></datetimepicker>
                        </ul>
                    </div>
                </span>
            </div>
        </div>
    </div>

    <div class="row margin-top-sm margin-bot-sm margin-more-details">
        <div class="col-md-3">
            <label class="custom-input-field-label">
                Delivery Time:
            </label>
        </div>
        <div class="col-md-9">
            <input class="form-control custom-input-field" type="text" value="{{deliveryTime}}" disabled="disabled" /> 
        </div>
    </div>

    <div class="row margin-top-sm margin-bot-sm margin-more-details">
        <div class="col-md-3">
            <label class="custom-input-field-label">
                Dispatch's Behaviour/Mood:
            </label>
        </div>
        <div class="col-md-9">
            <div class="btn-group">
                <button type="button" class="btn btn-restaurant-color-green" ng-model="comment.dispatchBehaviour" btn-radio="true">Nice/Acceptable</button>
                <button type="button" class="btn btn-restaurant-color-red" ng-model="comment.dispatchBehaviour" btn-radio="false">Rude/Unacceptable</button>
            </div> 
        </div>
    </div>
</section>